body{
background-image:url('http://i.imgur.com/AxdQCEZ.jpg');
background-attachment:fixed;
background-repeat:no-repeat;
background-size:100% 100%;
font:Arial; 
color:black;
}
td{
width:400;
height:auto;
}
#div{
background-color:white;
width:60%;
height:auto;
}
